@model Dominios.Cliente


<section class="layout-content">

    <nav class="navbar navbar-expand-md bg-light">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <i class="fas fa-caret-right"></i>
                    <span>Confirmação de exclusão do Cliente</span>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <form action="" method="POST">
            @*__________________________________________INICIO 1º LINHA COM MONE____________________________________________*@
            <div class="form-row">
                <div class="form-group col-md-2">
                    @Html.LabelFor(model => model.idCliente, htmlAttributes: new { @class = "control-label col-md-6" })
                    @Html.EditorFor(model => model.idCliente, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })

                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.nomeCliente, htmlAttributes: new { @class = "control-label col-md-6" })
                    @Html.EditorFor(model => model.nomeCliente, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })

                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.cpfCliente, htmlAttributes: new { @class = "control-label col-md-4" })
                    @Html.EditorFor(model => model.cpfCliente, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })

                </div>
                <div class="form-group col-md-2">
                    @Html.LabelFor(model => model.sexoCliente, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.sexoCliente, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })

                </div>
            </div>
            @*_____________________________________________FIM 1º LINHA______________________________________________________*@

            @*__________________________________________INICIO 2º LINHA COM EMAIL____________________________________________*@
            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.emailCliente, htmlAttributes: new { @class = "control-label col-md-6" })
                    @Html.EditorFor(model => model.emailCliente, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })

                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.dataNascCliente, htmlAttributes: new { @class = "control-label col-md-4" })                        <
                    @Html.EditorFor(model => model.dataNascCliente, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })

                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-2">
                    @Html.LabelFor(model => model.statusCliente, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.statusCliente, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })

                    <div class="invalid-feedback"></div>
                </div>
            </div>
            @*__________________________________________FIM 2º LINHA__________________________________________________*@


            @*__________________________________________TELEFONE______________________________________________________*@
            <div class="form-row">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.telefone.numTel1, htmlAttributes: new { @class = "control-label col-md-4" })
                    @Html.EditorFor(model => model.telefone.numTel1, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })

                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.telefone.numTel2, htmlAttributes: new { @class = "control-label col-md-4" })
                    @Html.EditorFor(model => model.telefone.numTel2, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })

                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.telefone.numTel3, htmlAttributes: new { @class = "control-label col-md-4" })
                    @Html.EditorFor(model => model.telefone.numTel3, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })

                </div>
            </div>
            @*__________________________________________FIM TELEFONE______________________________________________________*@

            @*__________________________________________INICIO ENDEREÇO LINHA 1___________________________________________*@
            <div class="form-row">
                <div class="form-group col-md-5">
                    @Html.LabelFor(model => model.endereco.logradouro, htmlAttributes: new { @class = "control-label col-md-5" })
                    @Html.EditorFor(model => model.endereco.logradouro, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })

                </div>
                <div class="form-group col-md-2">
                    @Html.LabelFor(model => model.endereco.numero, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.endereco.numero, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })

                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.endereco.complemento, htmlAttributes: new { @class = "control-label col-md-3" })
                    @Html.EditorFor(model => model.endereco.complemento, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })

                </div>
                <div class="form-group col-md-2">
                    @Html.LabelFor(model => model.endereco.CEP, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.endereco.CEP, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })

                </div>

            </div>
            @*__________________________________________INICIO ENDEREÇO LINHA 2___________________________________________*@
            <div class="form-row">
                <div class="form-group col-md-5">
                    @Html.LabelFor(model => model.endereco.bairro, htmlAttributes: new { @class = "control-label col-md-5" })
                    @Html.EditorFor(model => model.endereco.bairro, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })

                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.endereco.cidade, htmlAttributes: new { @class = "control-label col-md-3" })
                    @Html.EditorFor(model => model.endereco.cidade, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })

                </div>
                <div class="form-group col-md-2">
                    @Html.LabelFor(model => model.endereco.estado, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.endereco.estado, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })

                </div>
                <div class="form-group col-md-2">
                    @Html.LabelFor(model => model.endereco.UF, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.endereco.UF, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })

                </div>

            </div>
            @*__________________________________________FIM ENDEREÇO______________________________________________________*@

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Excluir" class="btn btn-primary" /> |

                    <a class="btn btn-primary " href="/Clientes/Cadastrar/" role="button">
                        Novo
                    </a> |
                    <a class="btn btn-primary " href="/Clientes/ConsultarTodosClientes/" role="button">
                        Cancelar
                    </a>
                </div>

            }

        </form>
     </div>
    
</section>


