@model Dominios.Livro

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="layout-content">

        <nav class="navbar navbar-expand-md bg-light">
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <i class="fas fa-caret-right"></i>
                        <span>Cadastrar livros</span>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container" id="cadastrarFunc">
            <form action="" method="POST">
                @*__________________________________________INICIO 1º LINHA COM MONE____________________________________________*@
                <div class="form-row">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.isbn, htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(model => model.isbn, new { htmlAttributes = new { placeholder = "Informe 999-99-99999-99-9", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.isbn, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-7">
                        @Html.LabelFor(model => model.titulo, htmlAttributes: new { @class = "control-label col-md-7" })
                        @Html.EditorFor(model => model.titulo, new { htmlAttributes = new { placeholder = "Informe tituilo", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.titulo, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.valorUnit, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.valorUnit, new { htmlAttributes = new { placeholder = "9999,99", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.valorUnit, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*_____________________________________________FIM 1º LINHA______________________________________________________*@

                @*__________________________________________INICIO 2º LINHA ____________________________________________*@
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.descricao, htmlAttributes: new { @class = "control-label col-md-6" })
                        @Html.EditorFor(model => model.descricao, new { htmlAttributes = new { placeholder = "Informe Descrição", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.descricao, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.capaLivro, htmlAttributes: new { @class = "control-label col-md-4" })
                        @Html.EditorFor(model => model.capaLivro, new { htmlAttributes = new { placeholder = "Informe capa", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.capaLivro, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.paginas, htmlAttributes: new { @class = "control-label col-md-2" })                        <
                        @Html.EditorFor(model => model.paginas, new { htmlAttributes = new { placeholder = "99999", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.paginas, "", new { @class = "text-danger" })

                    </div>
                </div>
                @*__________________________________________FIM 2º LINHA__________________________________________________*@
                @*__________________________________________INICIO 3º LINHA ____________________________________________*@
                <div class="form-row">
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.estoque, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.estoque, new { htmlAttributes = new { placeholder = "99999", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.estoque, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.autor, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.autor, new { htmlAttributes = new { placeholder = "Informe autor", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.autor, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.editora, htmlAttributes: new { @class = "control-label col-md-2" })                        <
                        @Html.EditorFor(model => model.editora, new { htmlAttributes = new { placeholder = "Informe editora", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.editora, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.formato, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.formato, new { htmlAttributes = new { placeholder = "Informe formato", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.formato, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.categoria, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.categoria, new { htmlAttributes = new { placeholder = "Informe categoria", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.categoria, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.dataLanc, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.dataLanc, new { htmlAttributes = new { placeholder = "99/99/9999", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.dataLanc, "", new { @class = "text-danger" })

                    </div>
                </div>
                @*__________________________________________FIM 3º LINHA__________________________________________________*@
            <div class="form-row">
                <div class="form-group col-md-2">                  
                    @Html.DropDownListFor(model => model.idCategoria, ViewBag.Lista as IEnumerable<SelectListItem>, "Selecione a Categoria")                   

                </div>
                @*<div class="form-group col-md-2">                    
                    @Html.DropDownListFor(model => model.idEditora, ViewBag.Lista as IEnumerable<SelectListItem>, "Selecione a Editora",
                    htmlAttributes: new { @class = "form-control" })

                </div>*@
            </div>
                    @*__________________________________________FIM 3º LINHA__________________________________________________*@


                    <div class="form-group">
                        <div class="form-actions no-color">
                            <input type="submit" value="Salvar" class="btn btn-primary" /> |

                            <a class="btn btn-primary " href="/Livro/ConsultarTodosLivros/" role="button">
                                Cancelar
                            </a>
                        </div>

                    </div>


            </form>
        </div>
    </section>

}
<script>
    $(document).ready(function () {
        //$("#valorUnit").inputmask("mask", { "mask": "#.##9,99" }, { reverse: true });        $('#valorUnit').mask('#.##0,00', { reverse: true });        //$("#valorUnit").inputmask("mask", { "mask": "999.999,99" }, { reverse: false });
        //$("#cpfCliente").inputmask("mask", { "mask": "999.999.999-99" }, { reverse: true });
        $("#isbn").inputmask("mask", { "mask": "999-99-99999-99-9" });       
        $("#dataLanc").inputmask("mask", { "mask": "99/99/9999" });
    });
</script>


@Scripts.Render("~/bundles/inputmask")
