@model Dominios.Livro

<section class="layout-content">

    <nav class="navbar navbar-expand-md bg-light">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <i class="fas fa-caret-right"></i>
                    <span>Confirmação de exclusão do Livro</span>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <form action="" method="POST">
            @*__________________________________________INICIO 1º LINHA COM MONE____________________________________________*@
            <div class="form-row">
                <div class="form-group col-md-2">
                    @Html.LabelFor(model => model.idLivro, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.idLivro, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })

                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.isbn, htmlAttributes: new { @class = "control-label col-md-4" })
                    @Html.EditorFor(model => model.isbn, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.isbn, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.titulo, htmlAttributes: new { @class = "control-label col-md-4" })
                    @Html.EditorFor(model => model.titulo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.titulo, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-2">
                    @Html.LabelFor(model => model.valorUnit, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.valorUnit, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.valorUnit, "", new { @class = "text-danger" })
                </div>
            </div>
            @*_____________________________________________FIM 1º LINHA______________________________________________________*@

            @*__________________________________________INICIO 2º LINHA COM EMAIL____________________________________________*@
            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.descricao, htmlAttributes: new { @class = "control-label col-md-6" })
                    @Html.EditorFor(model => model.descricao, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.descricao, "", new { @class = "text-danger" })
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.capaLivro, htmlAttributes: new { @class = "control-label col-md-4" })                        <
                    @Html.EditorFor(model => model.capaLivro, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.capaLivro, "", new { @class = "text-danger" })
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-2">
                    @Html.LabelFor(model => model.paginas, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.paginas, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.paginas, "", new { @class = "text-danger" })
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            @*__________________________________________FIM 2º LINHA__________________________________________________*@
            @*__________________________________________INICIO 2º LINHA COM EMAIL____________________________________________*@
            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.estoque, htmlAttributes: new { @class = "control-label col-md-6" })
                    @Html.EditorFor(model => model.estoque, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.estoque, "", new { @class = "text-danger" })
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.descricao, htmlAttributes: new { @class = "control-label col-md-4" })                        <
                    @Html.EditorFor(model => model.descricao, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.descricao, "", new { @class = "text-danger" })
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-2">
                    @Html.LabelFor(model => model.dataLanc, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.dataLanc, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.dataLanc, "", new { @class = "text-danger" })
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            @*__________________________________________FIM 2º LINHA__________________________________________________*@
            @*__________________________________________Categorias/editora/autor e formatos______________________________________________________*@
            <div class="form-row">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.IdAutor, htmlAttributes: new { @class = "control-label col-md-4" })

                    @Html.EditorFor(model => model.IdAutor, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IdAutor, "", new { @class = "text-danger" })
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.IdEditora, htmlAttributes: new { @class = "control-label col-md-4" })

                    @Html.EditorFor(model => model.IdEditora, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IdEditora, "", new { @class = "text-danger" })
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.IdFormato, htmlAttributes: new { @class = "control-label col-md-4" })

                    @Html.EditorFor(model => model.IdFormato, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IdFormato, "", new { @class = "text-danger" })
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            @*__________________________________________FIM TELEFONE______________________________________________________*@

            @*__________________________________________INICIO ENDEREÇO LINHA 1___________________________________________*@
            <div class="form-row">
                <div class="form-group col-md-5">
                    @Html.LabelFor(model => model.IdCategoria, htmlAttributes: new { @class = "control-label col-md-5" })

                    @Html.EditorFor(model => model.IdCategoria, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IdCategoria, "", new { @class = "text-danger" })
                    <div class="invalid-feedback"></div>
                </div>


            </div>
            @*__________________________________________FIM ENDEREÇO______________________________________________________*@

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Excluir" class="btn btn-primary" /> |

                    <a class="btn btn-primary " href="/Clientes/Cadastrar/" role="button">
                        Novo
                    </a> |
                    <a class="btn btn-primary " href="/Clientes/ConsultarTodosClientes/" role="button">
                        Cancelar
                    </a>
                </div>

            }

        </form>
    </div>

</section>
@*<div>
    <h4>Livro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdEditora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdEditora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdAutor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdAutor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdFormato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdFormato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isbn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isbn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.capaLivro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capaLivro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paginas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paginas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estoque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estoque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valorUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valorUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataLanc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataLanc)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>*@
